{% extends 'home/base.html' %}

{% block content %}
<h1 class="mb-6 text-4xl font-bold">About Podge</h1>
<p class="mt-6 text-lg">
    At Podge, our aim is to offer you Clothes, bed and bathroon and kitchenware that show you that we really care! Not only have we got the trendiest clothes, bed and bathroom, kitchenware, but we can also guarantee that they are of the finest quality.</p>

    <p class="mb-6 text-lg">We started as a small business in Ohio/USA/2023, and our aim is to continue providing our customers with products that keep them happy, at prices that keep them happy.</p> 
    
    <p class="mt-6 text-lg">customers are our top priority and through our products we work hard towards building long-lasting and meaningful relations with them.
</p>
{% endblock %}