{%  extends 'home/base.html' %}

{% block title %}
contact 
{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold text-center">Contact Podge</h1>
<p class="mb-6 text-sl text-center">
    We appreciate your interest in Podge. Please select from the options below.
</p>
<br>
<h1 class="mt-6 text-3xl font-bold text-center">General Enquiries</h1>
    <div class="p-6 text-center">
    1(876) 345-9876 
    <p class="texl-sl text-stone-400 text-center">Toll free for the States and Canada</p>                
</div>

<div class="p-6 text-center">
    1(123)456-6789 
    <p class="texl-sl text-stone-400 text-center">Outside the States and Canada</p> 
</div>

{% endblock %}
